<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kubuk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_pequeno"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".users.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".users.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".users.ModifUserActivity"
            android:exported="false" />
        <activity
            android:name=".users.aboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditRecetas.AddRecetaActivity2"
            android:exported="false" />
        <activity
            android:name=".AddEditRecetas.AddRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditRecetas.EditRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MenuMain"
            android:exported="false" />
        <activity
            android:name=".myRecipes.MyRecipes"
            android:exported="false" />
        <activity
            android:name=".ListaCompra.EnseñarListaCompra"
            android:exported="false" />
        <activity
            android:name=".ListaCompra.ActualizarCheckBox"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.DetallesRecetaComunidad" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>